# Exclude Package Dependencies & Build Artifacts
node_modules/
**/node_modules/
dist/
**/dist/
build/
**/build/

# Exclude Local Environmental Configurations
.env
.env.*
**/.env
**/.env.*

# Exclude IDE Caches & Version Control System Records
.git
.gitignore
.vscode/
.idea/
.problems/
*.log
.DS_Store

# Storybook build output artifacts
.storybook/
storybook-static/
debug-storybook.log

# Vite build artifacts
@mf-types/
.mf/

# Testfile outputs
test-output.pdf