# File: ui-shells/global-shell/.env
PORT=3000
VITE_ORIGIN=http://localhost:3000
TOPOLOGY_REMOTE_ENTRY=http://localhost:3010/topology/remoteEntry.js
COMPLIANCE_REMOTE_ENTRY=http://localhost:3020/compliance/remoteEntry.js
TOPOLOGY_API_URL=http://topology-server:8082
PDF_API_URL=http://pdf-server:4001